<div class="py-24 sm:py-32 bg-gradient-to-b from-transparent to-white/75">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base/7 font-semibold text-scouting-blue">
                Appleton Troop 67
            </h2>
            <p
                class="mt-2 text-pretty font-heading text-4xl sm:leading-tight tracking-tight text-black/90 sm:text-5xl lg:text-balance"
            >
                Welcome to the future of scouting.
            </p>
            <p class="mt-6 text-lg/8 text-black/70">
                Rally behind the genius of Scoutmaster Christopher Allen. Your
                boys will reach new heights in leadership, teamwork, physics
                knowledge, and personal growth. They will also attend the University
                of Wisconsin, Madison someday.
            </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl
                class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-4xl mx-auto lg:grid-cols-2"
            >
                <div class="flex flex-col">
                    <dt
                        class="flex items-center gap-x-3 text-base/7 font-semibold text-black/90"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            class="size-5 flex-none text-scouting-blue"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
                            ></path>
                        </svg>
                        About Troop 67
                    </dt>
                    <dd
                        class="mt-4 flex flex-auto flex-col text-base/7 text-black/70"
                    >
                        <p class="flex-auto">
                            Commodo nec sagittis tortor mauris sed. Turpis
                            tortor quis scelerisque diam id accumsan nullam
                            tempus. Pulvinar etiam lacus volutpat eu. Phasellus
                            praesent ligula sit faucibus.
                        </p>
                        <p class="mt-6">
                            <a
                                href="#"
                                class="text-sm/6 font-semibold text-scouting-blue"
                                >Learn more <span aria-hidden="true">→</span></a
                            >
                        </p>
                    </dd>
                </div>
                <div class="flex flex-col">
                    <dt
                        class="flex items-center gap-x-3 text-base/7 font-semibold text-black/90"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            class="h-5 w-5 flex-none text-scouting-blue"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                            ></path>
                        </svg>

                        Join the Troop
                    </dt>
                    <dd
                        class="mt-4 flex flex-auto flex-col text-base/7 text-black/70"
                    >
                        <p class="flex-auto">
                            Pellentesque enim a commodo malesuada turpis
                            eleifend risus. Facilisis donec placerat sapien
                            consequat tempor fermentum nibh.
                        </p>
                        <p class="mt-6">
                            <a
                                href="https://beascout.scouting.org/list/?zip=54914&program%5B%5D=scoutsBSA&unitID=47155"
                                target="_blank"
                                class="text-sm/6 font-semibold text-scouting-blue"
                                >Take action <span aria-hidden="true">→</span
                                ></a
                            >
                        </p>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
