<div class="py-24 sm:py-32 bg-gradient-to-b from-transparent to-white/75">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base/7 font-semibold text-scouting-blue">
                Upcoming Events
            </h2>
            <p
                class="mt-2 text-pretty font-heading text-4xl sm:leading-tight tracking-tight text-gray-900 sm:text-5xl lg:text-balance"
            >
                More adventures await!
            </p>
        </div>
        <div class="mt-16 -mx-2 sm:mx-0 sm:mt-20 lg:mt-24">
            <div class="p-2 border border-black/10 rounded-3xl shadow">
                <iframe
                    class="w-full rounded-2xl ring-1 ring-black/20 shadow-2xl"
                    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=UTC&showPrint=0&showTz=0&title=Appleton%20Troop%2067&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%230B8043"
                    style="border-width:0"
                    height="600"
                    frameborder="0"
                    scrolling="no"></iframe>
            </div>
        </div>
    </div>
</div>
