---
import "@/styles/base.css";
import "@fontsource-variable/roboto-slab";
import "@fontsource-variable/roboto-condensed";

import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";

// import { ScrollIndicator } from "@/components/scroll-indicator";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#000" />
    <title>{title}</title>
  </head>
  <body class="bg-scouting-tan/75 font-main">
    <!-- <ScrollIndicator client:load /> -->
    <div class="bg-scouting-blue py-1 px-2 text-sm text-scouting-white">
      <a href="https://scouting.org" target="_blank"> Boy Scouts of America </a>
    </div>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
